[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'diariomadrid' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico_comillasabre:before {
  content: "\e900";
}
.icon-ico_comillascierra:before {
  content: "\e901";
}
.icon-ico_github:before {
  content: "\eab2";
}
.icon-ico_compartir:before {
  content: "\e902";
}
.icon-ico_buscar:before {
  content: "\e903";
}
.icon-ico_camara:before {
  content: "\e904";
}
.icon-ico_documento:before {
  content: "\e905";
}
.icon-ico_enlaces:before {
  content: "\e906";
}
.icon-ico_etiqueta:before {
  content: "\e907";
}
.icon-ico_facebook:before {
  content: "\e908";
}
.icon-ico_instagram:before {
  content: "\e909";
}
.icon-ico_left:before {
  content: "\e90a";
}
.icon-ico_mail:before {
  content: "\e90b";
}
.icon-ico_megafono:before {
  content: "\e90c";
}
.icon-ico_right:before {
  content: "\e90d";
}
.icon-ico_tendencias:before {
  content: "\e90e";
}
.icon-ico_twitter:before {
  content: "\e90f";
}
.icon-ico_whatsapp:before {
  content: "\e910";
}
.icon-ico_youtube:before {
  content: "\e911";
}
