@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'diariomadrid';
    src:  url('../fonts/diariomadrid.eot?cuxkqy');
    src:  url('../fonts/diariomadrid.eot?cuxkqy#iefix') format('embedded-opentype'),
    url('../fonts/diariomadrid.ttf?cuxkqy') format('truetype'),
    url('../fonts/diariomadrid.woff?cuxkqy') format('woff'),
    url('../fonts/diariomadrid.svg?cuxkqy#diariomadrid') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lg';
    src: url("../fonts/lg.eot?n1z373");
    src: url("../fonts/lg.eot?#iefixn1z373") format("embedded-opentype"), url("../fonts/lg.woff?n1z373") format("woff"), url("../fonts/lg.ttf?n1z373") format("truetype"), url("../fonts/lg.svg?n1z373#lg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@import (inline) "bootstrap.css";
@import (inline) "font-awesome.css";
@import (inline) "lightgallery.min.css";
@import (inline) "lg-transitions.min.css";
@import (inline) "owl.carousel.min.css";
@import (inline) "owl.theme.default.min.css";
@import "wp_defaults.less";
@import 'https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Lato:300,400,700,900';

/* Color palette */

@brand: #003df6;
@light: #f1f1f1;
@dark: #333;
@white: #fff;
@text: #666;

/* Text styles */
body {
    font-family: Lato;
    color: #000;
    font-size: 16px;
}
.post-author {
    font-size: 13px;
    margin-bottom: 10px;
}
.post-title {
    font-family: DroidSerif;
    font-size: 30px;
    line-height: 1.2;
    clear: both;
    margin-top:0px;
    a {
        color:#000;
        &:hover {
            color:#000;
        }
    }
    .post-tag-wrapper + &, .blog-name-wrapper + & {
        margin-top:20px;
    }
}
.post-tag {
    font-size: 14px;
    font-weight: bold;
    color: @white;
    background-color: @brand;
    display: inline-block;
    padding:6px 10px;
    text-transform: capitalize;
    transition: padding 0.2s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    border-right: 0px;
    &:hover {
        color: @white;
        text-decoration: none;
        padding-right: 18px;
    }
}
.blog-name {
    font-size: 15px;
    font-weight: 900;
    color: @white;
    display: inline-block;
    background-color: #000000;
    padding:6px 10px;
    text-transform: uppercase;
    margin-bottom: 2px;
    transition: padding 0.2s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    border-right: 0px;
    &:hover {
        color:@white;
        text-decoration: none;
        padding-right: 18px;
    }
}
.post-content {
    font-size: 16px;
    line-height: 1.2;
    color: @text;
}
a {
    color:@brand;
    &:hover {
        color:@brand;
        text-decoration: underline;
    }
}

/*
    HEADER Y PREHEADER
*/
.pre-header {
    padding:18px 0px;
    background-color: @brand;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    color: @white;
    .logo-madrid {
        max-height: 25px;
        width: auto;
        float: right;
    }
}
.header {
    background:#000;
    color: @white;
    padding:18px 0px;
    border-radius:0px;
    .logo {
        color: @white;

        font-size: 20px;
        font-weight: 900;
        line-height:24px;
        text-transform: uppercase;
    }
    .menu-toggle {
        display: block;
        float: right;
        border:0px;
        background-color: transparent;
        padding:0px;
        .fa {
            font-size: 24px;
        }
    }
}
/*
    TAG CAROUSEL
*/
.tag-cloud {
    padding: 14px 0px 24px 0px;
    border-bottom:2px solid #000;
    margin-bottom: 40px;
    .title {
        display: block;
        float: left;
        margin-right: 30px;
        font-size: 16px;
        font-weight: 900;
        line-height: 13px;
        padding-bottom: 11px;
        text-transform: uppercase;
        padding-left: 40px;
        position: relative;
        i {
            position: absolute;
            left: 0px;
            font-size: 24px;
        }
    }
    .tag-carousel {
        padding-right: 50px;
        .owl-item  {
            a {
                font-size: 16px !important;
                color: @dark;
                display: block;
                line-height: 12px;
            }
        }
    }

    .owl-nav {
        position: absolute;
        top:-10px;
        right: -5px;
        .owl-prev, .owl-next {
            display: inline-block;
            font-size: 30px;
            line-height: 30px;
            padding:0px 5px;
            &:hover {
                color:@brand;
            }
        }
    }
}
/*
    MENU
*/
.menus {
    float: none;
    width: 100%;
    border-bottom:2px solid #000;
    margin-bottom: 20px;
    .nav {
        > .menu-item {
            float: none;
            list-style: none;
            > a {
                padding:0px 0px 10px 0px;
                font-size: 16px;
                font-weight: 900;
                line-height: 1;
                margin-bottom: 20px;
                color: #000000;
                text-transform: uppercase;
                position: relative;
                &:hover {
                    background-color: transparent;
                }
                &:after {
                    content: "";
                    display: block;
                    width: 50px;
                    height: 2px;
                    background-color: #000000;
                    position: absolute;
                    bottom:-2px;
                    left:0px;
                }
            }
            &.two-columns {
                .menu-item {
                    display: inline-block;
                    float: none;
                    width: 49%;
                }
            }
            .sub-menu {
                margin:10px 0px 30px 0px;
                padding: 0px;
                .menu-item {
                    list-style: none;
                    margin-bottom: 10px;
                    a {

                        font-size: 14px;
                        line-height: 1;
                        color: @dark;
                        &:hover {

                        }
                    }
                }
            }
        }
    }
}

/*
    POST SHARE
*/
.post-share {
    font-size: 18px;
    line-height: 30px;
    position: relative;
    display: inline-block;
    padding-right: 10px;
    a {
       color:#000;
    }
    .share-buttons {
        position: absolute;
        right:-140px;
        width: 140px;
        top: 0px;
        display: none;
        background: @white;
        z-index: 99;
        a {
            display: inline-block;
            width: 30px;
            line-height: 30px;
            text-align: center;
            &:hover {
                color:@brand;
                text-decoration: none;
            }
        }
    }
    &:hover {
        .share-buttons {
            display: block;
        }
    }
}
/*
    SINGLE POST
*/
.single {
    .post-cat {
        display: inline-block;
        font-size: 20px;
        line-height: 1;
        font-weight: 900;
        border: solid 2px #000000;
        color:#000000;
        padding:8px 10px;
        background:transparent;
        text-transform: uppercase;
        margin-bottom: 20px;
        &:hover {
            color: @white;
            text-decoration: none;
            background-color:@brand;
            border-color:@brand;
        }
    }
    .post-title {
        font-size: 45px;
    }
    .featured-photo {
        margin-bottom: 37px;
        img {
            width: 100%;
            height: 100%;
            max-height: 500px;
            object-fit: cover;
        }
    }
    .post-intro {
        h2 {
            font-size: 20px;
            font-weight: 300;
            line-height: 1.5;
            position: relative;
            margin-bottom: 45px;
            &:after {
                width: 30px;
                height: 2px;
                background: #000;
                content: "";
                position: absolute;
                bottom: -15px;
                left: 0px;
            }
        }
    }
    .post-meta {
        border-bottom: 2px solid #000000;
        font-weight: 900;
        margin-bottom: 20px;
        line-height: 30px;
        padding: 0px 10px 20px 10px;
        .post-share {
            float: right;
            padding-right: 0px;
            .share-over {
                display: none;
            }
            .share-buttons {
                display: block;
                position: relative;
                top:0px;
                left:0px;
                right: 0px;
            }
        }
    }
    .post-author {
        font-size: 16px;
        border-bottom: 2px solid #000000;
        padding: 0px 10px 20px 10px;
        margin-bottom: 40px;
    }
    .post-links {
        text-align: center;
        margin-bottom: 40px;
        h3 {
            font-size: 18px;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
            border-top:2px solid #000;
            padding-top: 40px;
            position: relative;
            margin-top:50px;
            margin-bottom: 20px;
            &:before {
                content: "\e906";
                font-family: 'diariomadrid' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                top:-21px;
                left: 50%;
                margin-left: -20px;
                width: 40px;
                height: 40px;
                color: @white;
                background-color: #000000;
                line-height: 40px;
                text-align: center;
            }
        }
        ul {
            list-style: none;
            font-size: 18px;
            margin:0px;
            padding: 0px;
            li {
                margin-bottom: 10px;
            }
        }
    }
    .post-tags {
        text-align: center;
        margin-bottom: 40px;
        border-bottom: 2px solid #000;
        padding-bottom:40px;
        h3 {
            font-size: 18px;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
            border-top:2px solid #000;
            padding-top: 40px;
            position: relative;
            margin-top:50px;
            margin-bottom: 20px;
            &:before {
                content: "\e907";
                font-family: 'diariomadrid' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                top:-21px;
                left: 50%;
                margin-left: -20px;
                width: 40px;
                height: 40px;
                color: @white;
                background-color: #000000;
                line-height: 40px;
                text-align: center;
            }
        }
        a {
            font-size: 14px;
            font-weight: bold;
            color: @white;
            background-color: @brand;
            display: inline-block;
            padding:6px 10px;
            margin:0px 5px;
        }
    }
    .report-error {
        text-align: center;
        margin-bottom: 40px;
        a {
            display: inline-block;
            text-align: center;
            padding-bottom: 5px;
            border-bottom:2px solid #000000;
            color: #000000;
            &:hover {
                color:@brand;
                text-decoration: none;
            }
        }
    }
    .share-on {
        text-align: center;
        padding-bottom: 5px;
        border-bottom:2px solid #000000;
        display: inline-block;
        .post-share {
            display: inline-block;
            padding-right: 0px;
            .share-over {
                display: none;
            }
            .share-buttons {
                display: block;
                position: relative;
                top:0px;
                left:0px;
                right: 0px;
            }
        }
    }
}

.single {
    .post-content {
        font-size: 18px;
        line-height: 1.7;
        color: @text;
        margin-bottom: 30px;
        h2 {
            font-size: 25px;
            font-weight: bold;
            line-height: 1.2;
            color:#000000;
        }
        ul {
            list-style: square;
            margin-bottom: 20px;
        }
        blockquote {
            font-size: 25px;
            font-weight: 900;
            line-height: 1.2;
            color: #000000;
            border: solid 10px #000000;
            padding:30px 65px;
            position: relative;
            &:before {
                content: "\e900";
                font-family: 'diariomadrid' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                top:8px;
                left: 8px;
            }
            &:after {
                content: "\e901";
                font-family: 'diariomadrid' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                bottom:8px;
                right: 8px;
            }
        }
        .gallery {
            margin: 40px 0px;
            padding-top:100px;
            border-top:2px solid #000;
            position: relative;
            &:before {
                content: "\e904";
                font-family: 'diariomadrid' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                top:-21px;
                left: 50%;
                margin-left: -20px;
                width: 40px;
                height: 40px;
                color: @white;
                background-color: #000000;
                line-height: 40px;
                text-align: center;
            }
            .gallery-item {
                &:first-of-type {
                    &:before {
                        position: absolute;
                        font-size: 18px;
                        font-weight: 900;
                        text-align: center;
                        text-transform: uppercase;
                        content: "Galería fotográfica";
                        display: block;
                        width: 100%;
                        text-align: center;
                        color:#000000;
                        top:40px;
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                    transition: all 0.3s ease;
                }
                .gallery-icon {
                    overflow: hidden;
                    &:hover {
                        img {
                             transform:scale(1.1);
                        }
                    }
                }

            }
            &.gallery-columns-3 {
                &:after {
                    display: table;
                    content: "";
                    clear: both;
                }
                .gallery-item {
                    width: 33%;
                    float: left;
                    padding:1px;

                    &:first-of-type {
                        width: 66%;
                    }
                }
            }
            &.gallery-columns-1 {
                .gallery-item {
                    margin-bottom: 40px;
                    position: relative;
                    text-align: center;
                    .gallery-caption {
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.8);
                        line-height: 1.2;
                        text-align: center;
                        color: @white;
                        padding:20px;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                    }
                    img {
                        max-width: 100%;
                        width: auto;
                    }
                }
            }
        }
    }
}
/*
    PAGE
*/
.page {
    .page-title {
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        margin-top:0px;
        position: relative;
        margin-bottom: 40px;
        &:after {
            content: "";
            position: absolute;
            display: block;
            height: 5px;
            background-color: #000000;
            width: 105px;
            bottom:-15px;
            left:0px;
        }
    }
    .featured-photo {
        margin-bottom: 37px;
        img {
            width: 100%;
            height: 100%;
            max-height: 500px;
            object-fit: cover;
        }
    }
}
/*
    GALLERY LIGHTBOX
*/
.admin-bar .lg-outer {
    top:32px;
}
/*
    FULL GALLERY
*/
.single-format-gallery {
    background:#000000;
    color:#ffffff;
    .tag-cloud .tag-carousel .owl-item a,
    .post-share a,
    .post-cat,
    .post-content,
    .report-error a
     {
        color:@white;
    }
    .post-share .share-buttons {
        background: #000000;
    }
    .report-error a,
    .post-tags h3,
    .post-cat,
    .post-meta,
    .post-author,
    .post-tags,
    .tag-cloud {
        border-color:#fff;
    }
    .post-tags h3:before {
        color:#000000;
        background: @white;
    }
}
/*
    NOTA DE PRENSA
*/
.single-un_press {
    .madrid-logo {
        display: block;
        max-width: 32px;
        margin:0px auto 10px auto;
    }
    .post-cat-wrapper, .post-title{
        text-align: center;
    }
    .post-date {
        text-align: center;
        font-weight: 900;
        margin-bottom: 40px;
    }
    .post-intro {
        text-align: center;
        h2 {
            &:after {
                left: 50%;
                margin-left: -15px;
            }
        }
    }
}
/*
    HOMEPAGE: MAIN FEATURED BLOCK
*/
.main-featured {
    position: relative;
    margin-bottom: 40px;
    .wp-post-image {
        width: 100%;
        height: auto;
    }
    .post-wrap {
        position: absolute;
        background-color: @white;
        padding:20px;
        left:30px;
        bottom: 30px;
        margin-right: 30px;
        .post-title {
            font-size: 35px;
        }
        .blog-name {
            font-size: 20px;
        }
        .post-share {
            position: absolute;
            right: 20px;
            top: 20px;
            .share-buttons {
                width: 150px;
                right: auto;
                left: -150px;
            }
        }
    }
}
/*
    HOMEPAGE: GENERIC POST COLUMN
*/
.post-column {
    margin-bottom: 45px;
    .wp-post-image {
        width: 100%;
        height: auto;
        margin-bottom: 3px;
    }
}
/*
    HOMEPAGE: COLUMN 1 BLOCK
*/
.column-1 {
    .blog-name {
        font-size: 20px;
    }
}

/*
    HOMEPAGE: COLUMN 2 BLOCK
*/
.column-2 {
    .post-title {
        font-size: 25px;
    }
}

/*
    HOMEPAGE: COLUMN 3 BLOCK
*/
.column-3 {
    padding:0px 15px;
    .post-title {
        font-size: 20px;
    }
}

/*
    HOMEPAGE ELEMENTS
*/
.search-form {
    margin-bottom: 40px;
    .wrapper {
        background: #fff;
        position: relative;
        &:after {
            position: absolute;
            right: 20px;
            top:14px;
            display: inline-block;
            font: normal normal normal 20px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
            content: "\f002";
            color:#000;
        }
        .form-control {
            width: 100%;
            background: @light;
            border:0px;
            line-height: 50px;
            height: 50px;
            padding:0px 14px;
            color:@dark;

            font-size: 17px;
            box-shadow: none;
            border-radius: 0px;
            &::-webkit-input-placeholder {
                color: @dark;
            }
            &:-moz-placeholder {
                color: @dark;
            }
            &::-moz-placeholder {
                color: @dark;
            }
            &:-ms-input-placeholder {
                color: @dark;
            }
        }

    }
}

.follow-us {
    margin-bottom: 40px;
    border: solid 5px #000000;
    padding:20px;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    span {
        display: inline-block;
        margin-right: 20px;
    }
    a {
        color:#000;
        display: inline-block;
        margin:0px 2px;
        &:hover {
            color: @brand;
        }
    }
}
.press-posts {
    background-color: @brand;
    padding:20px;
    color:@white;
    margin-bottom: 40px;
    .title {

        font-size: 30px;
        font-weight: 900;
        color: @white;
        text-transform: uppercase;
        background:url('../../images/ayto.png') no-repeat left center;
        background-size: 40px;
        line-height: 24px;
        padding:5px 0px 5px 60px;
    }
    .date {

        font-size: 16px;
        font-weight: 900;
        line-height: 1.2;
        color: @white;
        margin-bottom: 20px;
        margin-top:30px;
    }
    .post-title {

        font-size: 16px;
        font-weight: bold;
        line-height: 1.2;
        color: @white;
        padding-left: 25px;
        position: relative;
        margin-top: 0px;
        margin-bottom: 20px;
        a {
            color: @white;
        }
        &:before {
            position: absolute;
            left: 0px;
            top:2px;
            display: inline-block;
            font: normal normal normal 16px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
            content: "\f0c9";
        }
    }
    .more {
        display: block;
        text-align: right;

        font-size: 16px;
        font-weight: 900;
        color: @white;
    }
}
/*
    ARCHIVES
*/
.archive, .search {
    .hentry {
        border-bottom: 2px solid #000000;
        margin-bottom: 40px;
        padding-bottom: 40px;
        .wp-post-image {
            width: 165px;
            height: 165px;
            object-fit: cover;
            float: left;
        }
        .post-wrapper {
            position: relative;
            .post-title {
                clear: none;
            }
            .post-share {
                position: absolute;
                top: 0px;
                right: 0px;
                .share-buttons {
                    width: 150px;
                    right: auto;
                    left: -150px;
                }
            }
        }
        &.has-post-thumbnail {
            .post-wrapper {
                margin-left: 200px;
            }
        }
    }
    .term-title {
        font-size: 30px;
        font-weight: 900;
        color: #000000;
        text-transform: uppercase;
        margin:0px 0px 40px 0px;
        .term {
            display: block;
            position: relative;
            text-transform:none;
            margin-top:20px;
            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 5px;
                background-color: #000000;
                width: 105px;
                top:-10px;
                left:0px;
            }
        }
    }
}
/*
    PAGINATION
*/
.pagination {
    display: table;
    width: auto;
    margin:0px auto;
    border: solid 5px #000000;
    border-radius: 0px;
    table-layout: fixed;
    li {
        display: table-cell;
        text-align: center;
        a, span {
            font-size: 20px;
            font-weight: 900;
            color: #000000;
            border:0px;
            float: none;
            background-color: transparent;
            padding:0px 15px;
            display: block;
            line-height: 50px;
            border-radius: 0px !important;
            &:hover, &.current {
                background-color: #000;
                color:#fff;
            }
        }
    }
}

/*
    SIDEBAR WIDGETS
*/
.widget {
    margin-bottom: 40px;
    .title {
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 24px;
        position: relative;
        margin-bottom:35px;
        padding-right: 50px;
        &:after {
            width: 50px;
            height: 5px;
            background: #000;
            content: "";
            position: absolute;
            bottom: -15px;
            left: 0px;
        }
    }
    &.grupos-municipales {
        padding: 0px 20px;
        .post {

            font-size: 16px;
            font-weight: bold;
            line-height: 1.2;
            padding-left: 84px;
            min-height: 64px;
            margin-bottom: 20px;
            a {
                color: #000;
            }
            &.category-grupomunicipalsocialistamadrid {
                background:url('../../images/avatar_psoe.png') no-repeat;
                background-size: 64px;
            }
            &.category-grupomunicipalpartidopopular {
                background:url('../../images/avatar_pp.png') no-repeat;
                background-size: 64px;
            }
            &.category-grupomunicipalahoramadrid {
                background:url('../../images/avatar_ahoramadrid.png') no-repeat;
                background-size: 64px;
            }
            &.category-grupomunicipalciudadanos {
                background:url('../../images/avatar_ciudadanos.png') no-repeat;
                background-size: 64px;
            }
        }
    }
}
/*
    FOOTER
*/
.footer {
    background-color: #f5f5f5;
    padding:60px 0px;
    margin-top:80px;
    .menus {
        margin-bottom: 0px;
        border-bottom:0px;
    }
}
.copy {
    background-color: @brand;
    font-size: 16px;
    font-weight: bold;
    color: @white;
    padding:20px 0px;
    a {
        font-size: 14px;
        color: @white;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
            color:@white;
        }
    }
}
