/* LAPTOPS */
@media (max-width: 1400px) {

}
/* TABLETS HORIZONTAL */
@media (max-width: 1200px) {

}
/*TABLETS VERTICAL*/
@media (max-width: 991px) {
    .main-featured {
        .post-wrap {
            .post-title {
                font-size: 30px;
            }
        }

    }
    .col-sm-8 .hentry {
        padding-right: 0px;
    }
    .follow-us {
        text-align: center;
        span {
            display: block;
            margin-right: 0px;
        }
    }
    .widget {
        &.grupos-municipales {
            .post {
                background-size: 32px !important;
                padding-left: 45px;
                min-height: 32px;
            }
        }
    }
    .column-3 {
        .post-title {
            font-size: 17px;
        }
        .post-content {
            display: none;
        }
    }
}
/*MOBILE*/
@media (max-width: 767px) {
    .pre-header {
        padding:10px 0px;
        .logo-madrid {
            display: none;
        }
    }
    .tag-cloud {
        .title {
            margin-right: 10px;
            padding-left: 30px;
        }
    }
    .footer {
        .navbar-nav {
            margin:10px 0px;
        }
    }
    .copy {
        .pull-right  {
            text-align: left;
            width: 100%;
            margin-top:10px;
        }
    }
}

